.rodape{
    display: flex;
    background-color: rgb(250, 250, 246);
    width: 100%;
    height: 5vh;
    justify-content: center;
    align-items: center;    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.centralizar{
    margin: 5vh;
    margin-left: 55vh;
    margin-right: 55vh;
    align-items: center;
    justify-content: center;
}